.content-content .node p a {
	font-weight: bold;
}

/* list style */
.main .panel-pane li,
.main .block li {
	font-size: 14px;
	margin: 3px 0;
}

.main .links li {
	font-size: 12px;
}


/* PANELS */
.content .panel-pane {
	margin: 0 0 15px 0;
}

.content .panel-pane .view-content .node .inner {
	border: none;
}

.content .panel-pane .view-content .node .inner .content {
	border: none;
}

.content .panel-pane .view-footer {
	margin-top: 10px;
	font-weight: bold;
}